<style>
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.hero{
    background-size: cover;
    background-position: 50%;
}
@media (max-width: 430px) {
	.hero{
	    background-size: cover;
	    background-position: 80%;
	}
	.hero2{
		padding-top: 100px;
	    padding-bottom: 0px;
	    display: flex;
	    justify-content: space-between;
	    align-content: flex-end;
	}
}
@media (max-width: 768px) {
	.hero{
	    background-size: cover;
	    border-bottom: 10px solid red;
	    background-position: 65%;
	}
}
.diff{
	max-width: 952px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
	.diff {
	    max-width: 500px;
	    margin: 0 auto;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	}
	.complemento, .logoaudi {
	    text-align: center;
	}
}
.titlecoche{
    margin: 0;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
}
.contenedor {
    max-width: 952px;
    margin: 0 auto;
    width: 80%;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
}
.hero2{
	padding-top: 150px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
.titleaudi{
	font-size: 62px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
}
@media (max-width: 430px) {
	.titleaudi{
		font-size: 50px;
	}
}
.sutitleaudi{
	color: #fff;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 100;
}
.btn_audi{
	    font-weight: 700;
    padding: 10px 70px;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 20px 0px;
}
.txt_audi{
	color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}
@media (max-width: 430px) {
	.imgaudi{
	margin: 0px;
}
}
@media (max-width: 768px) {
	.imgaudi{
		margin: 0px 10px;
	}
}
.cuentas{
	display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 10px;
}
@media (max-width: 430px) {
	.cuentas{
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    border-top: 1px solid black;
	    margin: 10px;
	}
	ul.cuenta {
		list-style: none;
	    padding-left: 0px;
	    padding-right: 40px;
	    border-right: 1px solid;
	}
	ul.cuenta:first-child {
	    list-style: none;
	    padding-left: 10px;
	    padding-right: 0px;
	    margin-right: 0px;
	    border-right: 1px solid black;
	}
}
ul.cuenta {
	list-style: none;
    padding-left: 0px;
    padding-right: 40px;
    border-right: 1px solid;
}
@media (max-width: 430px) {
	ul.cuenta {
		list-style: none;
	    padding-left: 0px;
	    padding-right: 10px;
	    border-right: 1px solid;
	}
}
ul.cuenta:last-child {
	list-style: none;
    padding-left: 20px;
    padding-right: 40px;
    border-right: 1px solid white;
}
ul.cuenta:first-child {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid black;
}
li {
    font-size: 12px;
}
.item{
    color: red;
    font-size: 46px;
    width: 125px;
    font-family: sans-serif;
    font-weight: 400;
}
@media (max-width: 430px) {
	.item{
		color: red;
	    font-size: 30px;
	    width: 110px;
	    font-family: sans-serif;
	    font-weight: 400;
	}
}
.complemento{
	text-transform: uppercase;
    color: red;
    font-size: 12px;
    padding: 10px 35px;
    font-family: sans-serif;
}
.logoaudi img{
	padding: 20px 0px;
}

</style>